<!DOCTYPE html>
<html lang="es">
	<%- include ('../partials/head', {title: "Crear Producto", style: "/css/styles-newProduct.css"}) %>
<body>

    <!-- Inclución de Header -->
    <%- include ('../partials/header') %> 
      <main>
		<section class="conteiner-newProduct">
			<h3>Crear Productos</h3>
			<form class="form-newProduct" action="/productCreate" method="post">
				<input type="text" name="productName" placeholder="Nombre de Producto" required>
				<div class="priceDiscount">
				<input type="number" name="productPrice" placeholder="Precio de Producto" required>
				<input type="number" name="productDiscount" placeholder="Descuento" required>
			    </div>
				<select name="category" id="category" class="productCategory">
					<option value="">Categoría del Producto</option>
					<option value="Aventura">Aventura</option>
					<option value="Entretenimiento">Entretenimiento</option>
					<option value="Gastronomía">Gastronomía</option>
				</select>
				<div class="uploadFlie">
				<label for="image" class="form-label">Imagen de producto:</label>
				<input type="file" name="image" value="fotoProd" class="botonFile">
			   </div>
			   <textarea name="description" id="description" placeholder="Detalle de Producto" class="textArea"></textarea>
			   <button type="submit" class="enviar">Enviar</button>
			   <button type="reset" class="borrar">Borrar</button>
			</form>
	  </section>
	  </main>

    <!-- Inclución de Header -->
    <%- include ('../partials/footer') %>  

</body>
</html>
