<!DOCTYPE html>
<html lang="es">
	<%- include ('../partials/head', {title: "Crear Producto", style: "/css/styles-editProduct.css"}) %>
<body>

    <!-- Inclución de Header -->
    <%- include ('../partials/header') %> 
      <main>
		<section class="conteiner-editProduct">
			<h3>Editar Producto</h3>
			<form class="form-editProduct" action="/productCreate" method="post">
				<input type="text" name="productName" placeholder="HiBox Aventura - Combo 1" required>
				<div class="items-select">
					<select name="category" id="category" class="productCategory">
						<option value="">Categoría del Producto</option>
						<option value="Aventura" selected>Aventura</option>
						<option value="Entretenimiento">Entretenimiento</option>
						<option value="Gastronomía">Gastronomía</option>
					</select>
					<select name="subcategory" id="subcategory" class="productSubCategory">
						<option value="">Subcategorias</option>
						<option value="Individual">Individual</option>
						<option value="Acompañado" selected>Acompañado</option>
						<option value="Familiar">Familiar</option>
					</select>
				</div>
				<div class="priceDiscount">
					<input type="number" name="productPrice" placeholder="$6.770" required>
					<input type="number" name="productDiscount" placeholder="$9.850" required>
					<select name="estado" id="estado" class="productState">
						<option value="">Estado de producto</option>
						<option value="Nuevo">Nuevo</option>
						<option value="Oferta" selected>Oferta</option>
						<option value="Destacado">Destacado</option>
					</select>
				</div>
			    <div class="uploadFlie">
				<label for="image" class="form-label">Imagen de producto:</label>
				<input type="file" name="image" value="fotoProd" class="botonFile">
			   </div>
			   <textarea name="description" id="description" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." class="textArea"></textarea>
			   <button type="submit" class="enviar">Enviar</button>
			   <button type="reset" class="borrar">Eliminar</button>
			</form>
	  </section>
	  </main>

    <!-- Inclución de Header -->
    <%- include ('../partials/footer') %>  

</body>
</html>
