<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HiBox - Detalle Producto</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/css/styles-home.css">
        <link rel="stylesheet" href="/css/styles-productDetail.css">
    </head>
<body>

    <!-- Inclución de Header -->
    <%- include ('../partials/header') %>    

    <main>
        <!-- Inicio contenedor detalle de producto -->
        <section class="main-productDetail-section-principal">
            <!-- Inicio bloque de detalle -->
            <div class="main-productDetail-actividad">
                <div class="h1-productDetail">
                    <h1>Cena romántica</h1>
                </div>
                <div class="main-productDetail-iconos">
                    <i class="fas fa-map-marker-alt"> Veremos</i>
                    <i class="fas fa-history"> 4 horas máximo </i>
                    <i class="fas fa-users"> VÁLIDO PARA: 2 Personas</i>
                </div>
                <article class="main-productDetail-section-principal-article">
                    <img src="/images/cena+para+2.png", alt="Cena para romantica">
                    <!-- Inicio bloque Descripción de producto -->        
                    <div class="main-productDetail-descriptionProduct">
                        <h3>Cena romántica para dos personas</h3>
                        <p>La cena incluye 3 platos (Entrada, Plato principal y Postre) mas una bebida y un Postre
                           por persona.</p>
                        <p>Se incluye vallet parking con estacionamiento gratuito.</p>
                    </div>
                    <!-- Fin bloque descripción de producto -->
                </article>
            <!-- Fin bloque de detalle -->
            </div>
            <!-- Inicio bloque de compra o regalo -->
            <div class="main-productDetail-compra">
                <div class="productDetail-h2">
                    <h2>Gastronomia</h2>
                </div>
                <img src="/images/gastronomia-mobile.jpg", alt="Categoria seleccionada">
                <h3>Compra el producto por:</h3>
                <form action="/productCar" method="GET">
                    <label>$ 1200</label>
                    <button type="submit" class="productDetail-boton">COMPRAR <i class="fas fa-shopping-cart"></i></button>
                </form>
                
                <h3>Regala la experiencia por:</h3>
                <form action="/productCar" method="GET">
                    <label>$ 1600</label>
                    <button type="submit" class="productDetail-boton">REGALAR <i class="fas fa-gift"></i></button>
                </form>
            <!-- Fin bloque de compra o regalo -->
            </div>
        </section>
        <!-- Inicio sección de productos destacados -->
        <section class="contenedor-novedades-productos">
            <h3>DESTACADOS</h3>
            <div class="products">
                <article>
                    <div class="novedad-producto">
                        <p>10% OFF</p>
                    </div>
                    <img src="/images/img-producto-aventura.jpg", alt="Imagen Aventura" class="product_img">
                    <div class="icono-plus-prtoducto"><i class="fas fa-plus"></i></div>
                    <div class="nombre-producto">
                        <p>HiBox Aventura - Combo 1</p> 
                    </div>
                    <div class="contenedor-detalle">   
                    <p class="precios">$6.770</p>
                    <p class="discount">$9.850</p>
                    </div>
                    <div class="acceso-detalle">
                        <p>Ver detalle</p> 
                    </div>
                </article>

                <article>
                    <div class="novedad-producto">
                        <p>10% OFF</p>
                    </div>
                    <img src="/images/img-producto-gastronimia.jpg", alt="Imagen Gastronomia">
                    <div class="icono-plus-prtoducto"><i class="fas fa-plus"></i></div>
                    <div class="nombre-producto">
                        <p>HiBox Gastronomia - Combo 1</p> 
                    </div>
                    <div class="contenedor-detalle">   
                    <p class="precios">$6.770</p>
                    <p class="discount">$9.850</p>
                    </div>
                    <div class="acceso-detalle">
                        <p>Ver detalle</p> 
                    </div>
                </article>
                <article>
                    <div class="novedad-producto">
                        <p>10% OFF</p>
                    </div>
                    <img src="/images/img-producto-entretenimiento.jpg", alt="Imagen Entretenimiento">
                    <div class="icono-plus-prtoducto"><i class="fas fa-plus"></i></div>
                    <div class="nombre-producto">
                        <p>HiBox Entretenimiento - Combo 1</p> 
                    </div>
                    <div class="contenedor-detalle">   
                    <p class="precios">$6.770</p>
                    <p class="discount">$9.850</p>
                    </div>
                    <div class="acceso-detalle">
                        <p>Ver detalle</p> 
                    </div>
                </article>
                <article>
                    <div class="novedad-producto">
                        <p>10% OFF</p>
                    </div>
                    <img src="/images/img-producto-aventura.jpg", alt="Imagen Aventura">
                    <div class="icono-plus-prtoducto"><i class="fas fa-plus"></i></div>
                    <div class="nombre-producto">
                        <p>HiBox Aventura - Combo 2</p> 
                    </div>
                    <div class="contenedor-detalle">   
                    <p class="precios">$6.770</p>
                    <p class="discount">$9.850</p>
                    </div>
                    <div class="acceso-detalle">
                        <p>Ver detalle</p> 
                    </div>
                </article>

            </div>
        </section>

    </main>

    <!-- Inclución de Header -->
    <%- include ('../partials/footer') %>  

</body>
</html>