<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HiBox - Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Inicio de Header -->
    <header class="main-header">
        <div class="main-header-oferta">
            <p>ENVÍOS SIN CARGO A PARTIR DE $9000 + HASTA 6 CUOTAS SIN INTERÉS</p>
        </div>
        <div class="logo">
            <img src="/images/logo-nav.png", alt="Logo HiBox">
        </div>
        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>  
        <nav class="main-navbar">     
          <ul>
              <li><a href="/index">Home</a></li>
              <li><a href="/productDetail">Products</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Contact us</a></li>
          </ul>
          <ul>
              <li><a href="/register">Registrate</i></a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></li>
          </ul>
        </nav>
      </header>
      <!-- Cierre de Header -->
    <main>
        <!-- Carrusel imagenes -->
      <div class="slider">
        <h3>SAY HI TO YOUR NEXT EXPERIENCE</h3>
        <p><a href="/productDetail">Ver más</a></p>
        <img src="/images/bg-home.jpg", alt="Imagen slider", width="100%">
        </div>  
        <!-- Fin Carrusel -->
        <!-- Inicio Productos Destacados -->
        <div class="contenedor-destacados">
            <div class="destacado">
                <h3>AVENTURA</h3>
                <p><a href="/aventura">Ver más</a></p>
        <img src="/images/aventura-mobile.jpg", alt="Aventura", width="100%">
            </div>
            <div class="destacado">
                <h3>GASTRONOMÍA</h3>
                <p><a href="/gastronomia">Ver más</a></p>
        <img src="/images/gastronomia-mobile.jpg", alt="Gastronomia", width="100%">
            </div>
            <div class="destacado">
                <h3>ENTRETENIMIENTO</h3>
                <p><a href="/entretenimiento">Ver más</a></p>
        <img src="/images/entretenimiento-mobile.jpg", alt="Entretenimiento", width="100%">
            </div>
        </div>
        <!-- Cierre Productos Destacados -->
        <!-- Comienzo de Seccion Novedades -->
    <section>
    <h2 class="titulo-seccion">Novedades</h2>
    <!-- Inicio Contenedor Productos -->
    <div class="contenedor-productos">
    <!-- Inicio Modulo Producto -->        
    <div class="producto">
        <div class="novedad-producto">
            <p>10% OFF</p>
        </div>
        <img src="/images/img-producto-aventura.jpg", alt="Imagen Aventura" class="imagen-producto">
        <div class="plus"><i class="fas fa-plus"></i></div>
        <div class="nombre-producto">
            <p>HiBox Aventura - Combo 1</p> 
        </div>
        <div class="contenedor-detalle">   
        <p class="precios">$6.770</p>
        <p class="discount">$9.850</p>
        </div>
        <div class="acceso-detalle">
            <p>Ver detalle</p> 
        </div>
        
    </div>
    <!-- Cierre Modulo Producto-->    
    <!-- Inicio Modulo Producto -->        
    <div class="producto">
        <div class="novedad-producto">
            <p>10% OFF</p>
        </div>
        <img src="/images/img-producto-gastronimia.jpg", alt="Imagen Gastronomia" class="imagen-producto">
        <div class="plus"><i class="fas fa-plus"></i></div>
        <div class="nombre-producto">
            <p>HiBox Gastronomia - Combo 1</p> 
        </div>
        <div class="contenedor-detalle">   
        <p class="precios">$6.770</p>
        <p class="discount">$9.850</p>
        </div>
        <div class="acceso-detalle">
            <p>Ver detalle</p> 
        </div>
        
    </div>
    <!-- Cierre Modulo Producto-->
    <!-- Inicio Modulo Producto -->        
    <div class="producto">
        <div class="novedad-producto">
            <p>10% OFF</p>
        </div>
        <img src="/images/img-producto-entretenimiento.jpg", alt="Imagen Entretenimiento" class="imagen-producto">
        <div class="plus"><i class="fas fa-plus"></i></div>
        <div class="nombre-producto">
            <p>HiBox Entretenimiento - Combo 1</p> 
        </div>
        <div class="contenedor-detalle">   
        <p class="precios">$6.770</p>
        <p class="discount">$9.850</p>
        </div>
        <div class="acceso-detalle">
            <p>Ver detalle</p> 
        </div>
        
    </div>
    <!-- Cierre Modulo Producto-->
    <!-- Inicio Modulo Producto -->        
    <div class="producto">
        <div class="novedad-producto">
            <p>10% OFF</p>
        </div>
        <img src="/images/img-producto-aventura.jpg", alt="Imagen de cafetera" class="imagen-producto">
        <div class="plus"><i class="fas fa-plus"></i></div>
        <div class="nombre-producto">
            <p>HiBox Aventura - Combo 2</p> 
        </div>
        <div class="contenedor-detalle">   
        <p class="precios">$6.770</p>
        <p class="discount">$9.850</p>
        </div>
        <div class="acceso-detalle">
            <p>Ver detalle</p> 
        </div>
        
    </div>
    <!-- Cierre Modulo Producto-->
    </div>
    <!-- Cierre Contenedor Productos -->
</section>
<!-- Cierro Seccion Productos --> 
<section class="instrucciones-compra">
    <div class="contenido-item">
        <img class="imagen-item" src="/images/selecciona-la-experiencia.png", alt="Seleccioná tu experiencia">
        <p class="texto-item">Seleccioná que tipo de experiencia quieres</p>
    </div>
    <div class="contenido-item">
        <img class="imagen-item" src="/images/elige-tu-compania.png", alt="Elegi con quien compartir tu expereniecia">
        <p class="texto-item">Elegí con quien la quieres compartir</p>
    </div>
    <div class="contenido-item">
        <img class="imagen-item" src="/images/hibox-para-regalar.png", alt="Podés regalarla o vivirla">
        <p class="texto-item">Podés regalarla o vivirla</p>
    </div>
</section>
         <!-- Comienzo de Seccion Ultimas Visitas -->
    <section>
        <h2 class="titulo-seccion">DESCUBRÍ TODAS LAS EXPERIENCIAS QUE PODÉS VIVIR</h2>
        <!-- Inicio Contenedor Productos -->
        <div class="contenedor-productos">
        <!-- Inicio Modulo Producto -->        
        <div class="producto">
            <div class="novedad-producto">
                <p>10% OFF</p>
            </div>
            <img src="/images/img-producto-aventura.jpg", alt="Imagen Aventura" class="imagen-producto">
            <div class="plus"><i class="fas fa-plus"></i></div>
            <div class="nombre-producto">
                <p>HiBox Aventura - Combo 1</p> 
            </div>
            <div class="contenedor-detalle">   
            <p class="precios">$6.770</p>
            <p class="discount">$9.850</p>
            </div>
            <div class="acceso-detalle">
                <p>Ver detalle</p> 
            </div>
            
        </div>
        <!-- Cierre Modulo Producto-->    
        <!-- Inicio Modulo Producto -->        
        <div class="producto">
            <div class="novedad-producto">
                <p>10% OFF</p>
            </div>
            <img src="/images/img-producto-gastronimia.jpg", alt="Imagen Gastronomia" class="imagen-producto">
            <div class="plus"><i class="fas fa-plus"></i></div>
            <div class="nombre-producto">
                <p>HiBox Gastronomia - Combo 1</p> 
            </div>
            <div class="contenedor-detalle">   
            <p class="precios">$6.770</p>
            <p class="discount">$9.850</p>
            </div>
            <div class="acceso-detalle">
                <p>Ver detalle</p> 
            </div>
            
        </div>
        <!-- Cierre Modulo Producto-->
        <!-- Inicio Modulo Producto -->        
        <div class="producto">
            <div class="novedad-producto">
                <p>10% OFF</p>
            </div>
            <img src="/images/img-producto-entretenimiento.jpg", alt="Imagen Entretenimiento" class="imagen-producto">
            <div class="plus"><i class="fas fa-plus"></i></div>
            <div class="nombre-producto">
                <p>HiBox Entretenimiento - Combo 1</p> 
            </div>
            <div class="contenedor-detalle">   
            <p class="precios">$6.770</p>
            <p class="discount">$9.850</p>
            </div>
            <div class="acceso-detalle">
                <p>Ver detalle</p> 
            </div>
            
        </div>
        <!-- Cierre Modulo Producto-->
        <!-- Inicio Modulo Producto -->        
        <div class="producto">
            <div class="novedad-producto">
                <p>10% OFF</p>
            </div>
            <img src="/images/img-producto-aventura.jpg", alt="Imagen de cafetera" class="imagen-producto">
            <div class="plus"><i class="fas fa-plus"></i></div>
            <div class="nombre-producto">
                <p>HiBox Aventura - Combo 2</p> 
            </div>
            <div class="contenedor-detalle">   
            <p class="precios">$6.770</p>
            <p class="discount">$9.850</p>
            </div>
            <div class="acceso-detalle">
                <p>Ver detalle</p> 
            </div>
            
        </div>
        <!-- Cierre Modulo Producto-->
        </div>
        <!-- Cierre Contenedor Productos -->  
    </section>
    <div class="buttom-ver-mas">
        <p><a href="/productDetail">VER MÁS</a></p>
    </div>
    </main>
    <footer>
        
    </footer>
</body>
</html>