<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HiBox - Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/styles-home.css">
</head>
<body>
    <header class="main-header">
        <section class="section-oferta">
            <p>ENVÍOS SIN CARGO A PARTIR DE $9000 + HASTA 6 CUOTAS SIN INTERÉS</p>
        </section>
        <div class="nav-bar-header">
          <div class="nav-bar-header-left">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/productDetail">Products</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>

        <div class="nav-bar-header-center">
            <div class="logo">
                <a href="/"><img src="/images/logo-nav.png", alt="Logo HiBox"></a>
            </div>  
        </div>
        
        <div class="nav-bar-header-right">
            <ul>
                <li><a href="/register">Registrate</i></a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </div>
        </div>
    </header>
    <main>
        <section class="slider">
            <div class="slider-composition">
                <h3>SAY HI TO YOUR NEXT EXPERIENCE</h3>
                <p class="boton-negro"><a href="/productDetail">Ver más</a></p>
                <img src="/images/bg-home.jpg", alt="Imagen slider", width="100%">
                </div>  
        </section>

        <section class="contenedor-destacados">
            <div class="destacado-aventura">
                    <h3>AVENTURA</h3>
                    <p><a href="/aventura">Ver más</a></p>
            <img src="/images/aventura-mobile.jpg", alt="Aventura">
            </div>
            
            <div class="destacado-gastronomia">
                <h3>GASTRONOMÍA</h3>
                <p><a href="/gastronomia">Ver más</a></p>
            <img src="/images/gastronomia-mobile.jpg", alt="Gastronomia", width="100%">
            </div>
            
            <div class="destacado-entretenimiento">
                <h3>ENTRETENIMIENTO</h3>
                <p><a href="/entretenimiento">Ver más</a></p>
            <img src="/images/entretenimiento-mobile.jpg", alt="Entretenimiento", width="100%">
            </div>
        </section>

        <section class="contenedor-novedades-productos">
            <h3>Novedades</h3>
            <div class="products">
                <article>
                    <div class="novedad-producto">
                        <p>10% OFF</p>
                    </div>
                    <img src="/images/img-producto-aventura.jpg", alt="Imagen Aventura" class="product_img">
                    <div class="icono-plus-prtoducto"><i class="fas fa-plus"></i></div>
                    <div class="nombre-producto">
                        <p>HiBox Aventura - Combo 1</p> 
                    </div>
                    <div class="contenedor-detalle">   
                    <p class="precios">$6.770</p>
                    <p class="discount">$9.850</p>
                    </div>
                    <div class="acceso-detalle">
                        <p>Ver detalle</p> 
                    </div>
                </article>

                <article>
                    <div class="novedad-producto">
                        <p>10% OFF</p>
                    </div>
                    <img src="/images/img-producto-gastronimia.jpg", alt="Imagen Gastronomia">
                    <div class="icono-plus-prtoducto"><i class="fas fa-plus"></i></div>
                    <div class="nombre-producto">
                        <p>HiBox Gastronomia - Combo 1</p> 
                    </div>
                    <div class="contenedor-detalle">   
                    <p class="precios">$6.770</p>
                    <p class="discount">$9.850</p>
                    </div>
                    <div class="acceso-detalle">
                        <p>Ver detalle</p> 
                    </div>
                </article>
                <article>
                    <div class="novedad-producto">
                        <p>10% OFF</p>
                    </div>
                    <img src="/images/img-producto-entretenimiento.jpg", alt="Imagen Entretenimiento">
                    <div class="icono-plus-prtoducto"><i class="fas fa-plus"></i></div>
                    <div class="nombre-producto">
                        <p>HiBox Entretenimiento - Combo 1</p> 
                    </div>
                    <div class="contenedor-detalle">   
                    <p class="precios">$6.770</p>
                    <p class="discount">$9.850</p>
                    </div>
                    <div class="acceso-detalle">
                        <p>Ver detalle</p> 
                    </div>
                </article>
                <article>
                    <div class="novedad-producto">
                        <p>10% OFF</p>
                    </div>
                    <img src="/images/img-producto-aventura.jpg", alt="Imagen Aventura">
                    <div class="icono-plus-prtoducto"><i class="fas fa-plus"></i></div>
                    <div class="nombre-producto">
                        <p>HiBox Aventura - Combo 2</p> 
                    </div>
                    <div class="contenedor-detalle">   
                    <p class="precios">$6.770</p>
                    <p class="discount">$9.850</p>
                    </div>
                    <div class="acceso-detalle">
                        <p>Ver detalle</p> 
                    </div>
                </article>

            </div>
        </section>
        <section class="contenedor-intrucciones-compra">
            <div class="elementos-instrucciones">
                <div class="item">
                    <img class="imagen-item" src="/images/selecciona-la-experiencia.png", alt="Seleccioná tu experiencia">
                    <p class="texto-item">Seleccioná que tipo de experiencia quieres</p>
                </div>
                <div class="item">
                    <img class="imagen-item" src="/images/elige-tu-compania.png", alt="Elegi con quien compartir tu expereniecia">
                    <p class="texto-item">Elegí con quien la quieres compartir</p>
                </div>
                <div class="item">
                    <img class="imagen-item" src="/images/hibox-para-regalar.png", alt="Podés regalarla o vivirla">
                    <p class="texto-item">Podés regalarla o vivirla</p>
                </div>
            </div>
        </section>
        <section class="contenedor-novedades-productos">
            <h3>DESCUBRÍ TODAS LAS EXPERIENCIAS QUE PODÉS VIVIR</h3>
            <div class="products">
                <article>
                    <div class="novedad-producto">
                        <p>10% OFF</p>
                    </div>
                    <img src="/images/img-producto-aventura.jpg", alt="Imagen Aventura" class="product_img">
                    <div class="icono-plus-prtoducto"><i class="fas fa-plus"></i></div>
                    <div class="nombre-producto">
                        <p>HiBox Aventura - Combo 1</p> 
                    </div>
                    <div class="contenedor-detalle">   
                    <p class="precios">$6.770</p>
                    <p class="discount">$9.850</p>
                    </div>
                    <div class="acceso-detalle">
                        <p>Ver detalle</p> 
                    </div>
                </article>

                <article>
                    <div class="novedad-producto">
                        <p>10% OFF</p>
                    </div>
                    <img src="/images/img-producto-gastronimia.jpg", alt="Imagen Gastronomia">
                    <div class="icono-plus-prtoducto"><i class="fas fa-plus"></i></div>
                    <div class="nombre-producto">
                        <p>HiBox Gastronomia - Combo 1</p> 
                    </div>
                    <div class="contenedor-detalle">   
                    <p class="precios">$6.770</p>
                    <p class="discount">$9.850</p>
                    </div>
                    <div class="acceso-detalle">
                        <p>Ver detalle</p> 
                    </div>
                </article>
                <article>
                    <div class="novedad-producto">
                        <p>10% OFF</p>
                    </div>
                    <img src="/images/img-producto-entretenimiento.jpg", alt="Imagen Entretenimiento">
                    <div class="icono-plus-prtoducto"><i class="fas fa-plus"></i></div>
                    <div class="nombre-producto">
                        <p>HiBox Entretenimiento - Combo 1</p> 
                    </div>
                    <div class="contenedor-detalle">   
                    <p class="precios">$6.770</p>
                    <p class="discount">$9.850</p>
                    </div>
                    <div class="acceso-detalle">
                        <p>Ver detalle</p> 
                    </div>
                </article>
                <article>
                    <div class="novedad-producto">
                        <p>10% OFF</p>
                    </div>
                    <img src="/images/img-producto-aventura.jpg", alt="Imagen Aventura">
                    <div class="icono-plus-prtoducto"><i class="fas fa-plus"></i></div>
                    <div class="nombre-producto">
                        <p>HiBox Aventura - Combo 2</p> 
                    </div>
                    <div class="contenedor-detalle">   
                    <p class="precios">$6.770</p>
                    <p class="discount">$9.850</p>
                    </div>
                    <div class="acceso-detalle">
                        <p>Ver detalle</p> 
                    </div>
                </article>
                <article>
                    <div class="novedad-producto">
                        <p>10% OFF</p>
                    </div>
                    <img src="/images/img-producto-aventura.jpg", alt="Imagen Aventura" class="product_img">
                    <div class="icono-plus-prtoducto"><i class="fas fa-plus"></i></div>
                    <div class="nombre-producto">
                        <p>HiBox Aventura - Combo 1</p> 
                    </div>
                    <div class="contenedor-detalle">   
                    <p class="precios">$6.770</p>
                    <p class="discount">$9.850</p>
                    </div>
                    <div class="acceso-detalle">
                        <p>Ver detalle</p> 
                    </div>
                </article>

                <article>
                    <div class="novedad-producto">
                        <p>10% OFF</p>
                    </div>
                    <img src="/images/img-producto-gastronimia.jpg", alt="Imagen Gastronomia">
                    <div class="icono-plus-prtoducto"><i class="fas fa-plus"></i></div>
                    <div class="nombre-producto">
                        <p>HiBox Gastronomia - Combo 1</p> 
                    </div>
                    <div class="contenedor-detalle">   
                    <p class="precios">$6.770</p>
                    <p class="discount">$9.850</p>
                    </div>
                    <div class="acceso-detalle">
                        <p>Ver detalle</p> 
                    </div>
                </article>
                <article>
                    <div class="novedad-producto">
                        <p>10% OFF</p>
                    </div>
                    <img src="/images/img-producto-entretenimiento.jpg", alt="Imagen Entretenimiento">
                    <div class="icono-plus-prtoducto"><i class="fas fa-plus"></i></div>
                    <div class="nombre-producto">
                        <p>HiBox Entretenimiento - Combo 1</p> 
                    </div>
                    <div class="contenedor-detalle">   
                    <p class="precios">$6.770</p>
                    <p class="discount">$9.850</p>
                    </div>
                    <div class="acceso-detalle">
                        <p>Ver detalle</p> 
                    </div>
                </article>
                <article>
                    <div class="novedad-producto">
                        <p>10% OFF</p>
                    </div>
                    <img src="/images/img-producto-aventura.jpg", alt="Imagen Aventura">
                    <div class="icono-plus-prtoducto"><i class="fas fa-plus"></i></div>
                    <div class="nombre-producto">
                        <p>HiBox Aventura - Combo 2</p> 
                    </div>
                    <div class="contenedor-detalle">   
                    <p class="precios">$6.770</p>
                    <p class="discount">$9.850</p>
                    </div>
                    <div class="acceso-detalle">
                        <p>Ver detalle</p> 
                    </div>
                </article>


            </div>
        </section>
    </main>
    <footer>
        <section>
            <div class="logo-footer">
                <img src="/images/logo-HiBox.png", alt="Logo HiBox">
            </div>
        </section>
        
        <section>
            <div class="accesos-principales-footer">
            <p><a href="/">Home</a></p>
            <p><a href="#">About</a></p>
            <p><a href="#">FAQs</a></p>
            <p><a href="#">Contact us</a></p>
        </div>
        </section>
        <section>
            <nav class="footer-navbar">
                <p><a href="/productDetail">Products</a></p>    
                <ul>
                    <li><a href="#">Aventura</a></li>
                    <li><a href="#">Entretenimiento</a></li>
                    <li><a href="#">Gastronomía</a></li>
                </ul>
            </nav>
        </section>
        <section>
            <nav class="footer-navbar">
                <p><a href="#">Encontranos</a></p>    
                <ul>
                    <li><a href="#"><i class="fas fa-mobile-alt"></i> +54 11 2541 2658</a></li>
                    <li><a href="#"><i class="fas fa-map-marker-alt"></i> Claudia Rey 1212</a></li>
                    <li><a href="#"><i class="far fa-envelope"></i> info@HiBox.com</a></li>
                </ul>
            </nav>
        </section>
        <section>   
            <nav class="footer-redes">
                <p><a href="#">Suscribite</a></p>
                <form class="suscripcion" action="" method="post">
                    <input type="text" name="user_name" id="user_name" placeholder="Ingresá tu email">
                </form>    
                <ul>
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>    
                </ul>
            </nav>  
        </section>  
    </footer>
    <section class="copy">
        <p>Copyright © 2022 HiBox S.R.L.</p>
    </section>
</body>
</html>