<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRUPO 10 HiBox - Not Found</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
        
        <main class="index">
            <img src="/img/logo-HiBox.png" alt="">
            <h1>ERROR 404 :(</h1>
            <p class="index">
                Sabemos que estás búscando tu próxima experiencia,<br> pero no la vas a encontrar ahí. 
            </p>
        </main>

</body>
</html>