<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HiBox - Registro</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>

</header>
<main class="register">
      <form>
            <div class="container">
            <h1>Registrate</h1>
            <hr>
            <label for="Nombre y Apellidos"><b>Nombre y Apellidos</b></label>
            <input type="text" name="name" placeholder="Nombre y Apellidos">
            <label for="email"><b>Correo Electronico</b></label>
            <input type="text" placeholder="Enter Email" name="email">

            <label for="pwd"><b>Contraseña</b></label>
            <input type="password" placeholder="Enter Password" name="pwd">
            <label for="confirm"><b>Confirmar Contraseña</b></label>
            <input type="password" placeholder="Confirm Password" name="confirm">
            <hr>
            <label for="birth_date"><b>Cumpleaños</b></label>
            <br>
            <br>
            <input type="date" name="birth_date" id="birth_date">
            <br>
            <br>
            <p>Al crear una cuenta, acepta nuestros <a href="#">Terminos  & Condiciones</a>.</p>
            <button type="submit" class="registerbtn"><strong>Registrarme</strong></button>
            </div>
            <div class="container signin">
            <p>¿Ya tienes una cuenta en HiBox? <a href="#">Iniciar sesión</a></p>
            </div>
        </form>
</main>

<section></section>
<footer></footer>

</body>
</html>