.conteiner-adminProduct {
    background-color: white;
    max-width: 650px;
    margin: auto;
    padding: 30px;
    margin-top: 50px;
    box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 10%);
}

.conteiner-adminProduct h3 {
        text-align: left;
        color: #222;
        font-size: 2em;
    }


    .titulo-seccion {
        margin-top: 15px;
        margin-bottom: 80px;
    }
.listado-productos {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}
.list-buttons {
    display: flex;
    justify-content: end;
    flex-direction: row;
}
.nombre-listado {
        color: #9c8c84;
        font-size: 16px;
}
.titulo-seccion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

.crear {
    background-color: #7d92a5;
    border-radius: 30px;
    padding: 10px;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    width: 220px;
    border: none !important;
    transition: all 450ms;
}
.crear:hover {
    background-color: #1c1b20;
}
.form-adminProduct input {
        width: 100%;
        padding: 8px;
        margin: 20px 0;
        border-radius: 30px;
        color: #666;
        border: solid 1px #666;
    }

.see:hover,
.edit:hover {
    color: #FFF;
        background-color: #1c1b20;
    }
 
    .delete:hover {
        background-color: #1c1b20;
        border: solid 1px #1c1b20;
    }

    .see,
    .edit {
        background-color: white;
        border-radius: 30px;
        padding: 8px;
        color: #1c1b20;
        border: solid 1px #1c1b20;
        font-size: 15;
        margin-left: 5px;
        width: 80px;
        transition: all 450ms;
    }


    .delete {
        background-color: #F95F62;
        border: solid 1px #F95F62;
        border-radius: 30px;
        padding: 8px;
        color: #FFF;
        margin-left: 5px;
        width: 80px;
        transition: background-color 450ms;
    }


    .form-adminProduct p a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #666;
        transition: color 450ms;
    }

    .form-adminProduct p:hover a{
        color: #fa5f63;
    }

    