<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head', {title: "Contact Us", style: "/css/styles-pages.css"}) %>
<body>
    
    <!-- Inclución de Header -->
    <%- include ('./partials/header') %>    
           
    <main class="register">
        <section class="conteiner-page">
            <h3>Contact Us</h3>
            <form class="form-contact" action="/contact-us" method="POST">
                
                <input type="text" id="firstName" name="firstName" placeholder="Nombre">
                <input type="text" id="lastName" name="lastName" placeholder="Apellido">
                <input type="email" id="email" name="email" placeholder="Correo electrónico">
                <textarea id="message" name="message" cols="30" rows="10"></textarea>        
                <ul class="errores"></ul>
                <button type="submit" class="enviar">Enviar</button>
                
            </form>
        </section>
    </main>

    <!-- Inclución de Header -->
    <%- include ('./partials/footer') %> 
    <script src="/js/contacto.js"></script> 

</body>
</html>