<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HiBox - Not Found</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/css/styles-home.css">
        </head>
<body>
        <!-- Inclución de Header -->
        <%- include ('./partials/header') %>
        
        <main class="error">
            <h1>ERROR 404 :(</h1>
            <p>Sabemos que estás búscando tu próxima experiencia,<br> pero no la vas a encontrar ahí.</p>
        </main>
   
    <!-- Inclución de Footer -->
    <%- include ('./partials/footer') %>  
</body>
</html>