<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HiBox - Detalle Producto</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/styles-home.css">
        <link rel="stylesheet" href="/css/styles-productDetail.css">
    </head>
<body>

    <header class="main-header">
        <section class="section-oferta">
            <p>ENVÍOS SIN CARGO A PARTIR DE $9000 + HASTA 6 CUOTAS SIN INTERÉS</p>
        </section>
        <div class="nav-bar-header">
          <div class="nav-bar-header-left">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/productDetail">Products</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>

        <div class="nav-bar-header-center">
            <div class="logo">
                <a href="/"><img src="/images/logo-nav.png", alt="Logo HiBox"></a>
            </div>  
        </div>
        
        <div class="nav-bar-header-right">
            <ul>
                <li><a href="/register">Registrate</i></a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </div>
        </div>
    </header>
    <main>
        <!-- Inicio contenedor detalle de producto -->
        <section class="main-productDetail-section-principal">
            <!-- Inicio bloque de detalle -->
            <div class="main-productDetail-actividad">
                <div class="h1-productDetail">
                    <h1>Cena romántica</h1>
                </div>
                <div class="main-productDetail-iconos">
                    <i class="fas fa-map-marker-alt"> Veremos</i>
                    <i class="fas fa-history"> 4 horas máximo </i>
                    <i class="fas fa-users"> VÁLIDO PARA: 2 Personas</i>
                </div>
                <article class="main-productDetail-section-principal-article">
                    <img src="/images/cena+para+2.png", alt="Cena para romantica">
                    <!-- Inicio bloque Descripción de producto -->        
                    <div class="main-productDetail-descriptionProduct">
                        <h3>Cena romántica para dos personas</h3>
                        <p>La cena incluye 3 platos (Entrada, Plato principal y Postre) mas una bebida y un Postre
                           por persona.</p>
                        <p>Se incluye vallet parking con estacionamiento gratuito.</p>
                    </div>
                    <!-- Fin bloque descripción de producto -->
                </article>
            <!-- Fin bloque de detalle -->
            </div>
            <!-- Inicio bloque de compra o regalo -->
            <div class="main-productDetail-compra">
                <div class="productDetail-h2">
                    <h2>Gastronomia</h2>
                </div>
                <img src="/images/gastronomia-mobile.jpg", alt="Categoria seleccionada">
                <h3>Compra el producto por:</h3>
                <form action="/productCar" method="GET">
                    <label>$ 1200</label>
                    <button type="submit" class="productDetail-boton">COMPRAR <i class="fas fa-shopping-cart"></i></button>
                </form>
                
                <h3>Regala la experiencia por:</h3>
                <form action="/productCar" method="GET">
                    <label>$ 1600</label>
                    <button type="submit" class="productDetail-boton">REGALAR <i class="fas fa-gift"></i></button>
                </form>
            <!-- Fin bloque de compra o regalo -->
            </div>
        </section>
        <!-- Inicio sección de productos destacados -->
        <section>
            <h2 class="titulo-seccion">PRODUCTOS DESTACADOS</h2>
            <!-- Inicio Contenedor Productos -->
            <div class="contenedor-productos">
            <!-- Inicio Modulo Producto -->        
            <div class="producto">
                <div class="novedad-producto">
                    <p>10% OFF</p>
                </div>
                <img src="/images/img-producto-aventura.jpg", alt="Imagen Aventura" class="imagen-producto">
                <div class="plus"><i class="fas fa-plus"></i></div>
                <div class="nombre-producto">
                    <p>HiBox Aventura - Combo 1</p> 
                </div>
                <div class="contenedor-detalle">   
                <p class="precios">$6.770</p>
                <p class="discount">$9.850</p>
                </div>
                <div class="acceso-detalle">
                    <p>Ver detalle</p> 
                </div>
                
            </div>
            <!-- Cierre Modulo Producto-->    
            <!-- Inicio Modulo Producto -->        
            <div class="producto">
                <div class="novedad-producto">
                    <p>10% OFF</p>
                </div>
                <img src="/images/img-producto-gastronimia.jpg", alt="Imagen Gastronomia" class="imagen-producto">
                <div class="plus"><i class="fas fa-plus"></i></div>
                <div class="nombre-producto">
                    <p>HiBox Gastronomia - Combo 1</p> 
                </div>
                <div class="contenedor-detalle">   
                <p class="precios">$6.770</p>
                <p class="discount">$9.850</p>
                </div>
                <div class="acceso-detalle">
                    <p>Ver detalle</p> 
                </div>
                
            </div>
            <!-- Cierre Modulo Producto-->
            <!-- Inicio Modulo Producto -->        
            <div class="producto">
                <div class="novedad-producto">
                    <p>10% OFF</p>
                </div>
                <img src="/images/img-producto-entretenimiento.jpg", alt="Imagen Entretenimiento" class="imagen-producto">
                <div class="plus"><i class="fas fa-plus"></i></div>
                <div class="nombre-producto">
                    <p>HiBox Entretenimiento - Combo 1</p> 
                </div>
                <div class="contenedor-detalle">   
                <p class="precios">$6.770</p>
                <p class="discount">$9.850</p>
                </div>
                <div class="acceso-detalle">
                    <p>Ver detalle</p> 
                </div>
                
            </div>
            <!-- Cierre Modulo Producto-->
            <!-- Inicio Modulo Producto -->        
            <div class="producto">
                <div class="novedad-producto">
                    <p>10% OFF</p>
                </div>
                <img src="/images/img-producto-aventura.jpg", alt="Imagen de cafetera" class="imagen-producto">
                <div class="plus"><i class="fas fa-plus"></i></div>
                <div class="nombre-producto">
                    <p>HiBox Aventura - Combo 2</p> 
                </div>
                <div class="contenedor-detalle">   
                <p class="precios">$6.770</p>
                <p class="discount">$9.850</p>
                </div>
                <div class="acceso-detalle">
                    <p>Ver detalle</p> 
                </div>
                
            </div>
            <!-- Cierre Modulo Producto-->
            </div>
        </section>

    </main>

    <footer>
        <section>
            <div class="logo-footer">
                <img src="/images/logo-HiBox.png", alt="Logo HiBox">
            </div>
        </section>
        
        <section>
            <div class="accesos-principales-footer">
            <p><a href="/">Home</a></p>
            <p><a href="#">About</a></p>
            <p><a href="#">FAQs</a></p>
            <p><a href="#">Contact us</a></p>
        </div>
        </section>
        <section>
            <nav class="footer-navbar">
                <p><a href="/productDetail">Products</a></p>    
                <ul>
                    <li><a href="#">Aventura</a></li>
                    <li><a href="#">Entretenimiento</a></li>
                    <li><a href="#">Gastronomía</a></li>
                </ul>
            </nav>
        </section>
        <section>
            <nav class="footer-navbar">
                <p><a href="#">Encontranos</a></p>    
                <ul>
                    <li><a href="#"><i class="fas fa-mobile-alt"></i> +54 11 2541 2658</a></li>
                    <li><a href="#"><i class="fas fa-map-marker-alt"></i> Claudia Rey 1212</a></li>
                    <li><a href="#"><i class="far fa-envelope"></i> info@HiBox.com</a></li>
                </ul>
            </nav>
        </section>
        <section>   
            <nav class="footer-redes">
                <p><a href="#">Suscribite</a></p>
                <form class="suscripcion" action="" method="post">
                    <input type="email" name="email" id="email" placeholder="Ingresá tu email">
                </form>    
                <ul>
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>    
                </ul>
            </nav>  
        </section>  
    </footer>

</body>
</html>