<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head', {title: "Registro", style: "/css/styles-users.css"}) %>
<body>
    
    <!-- Inclución de Header -->
    <%- include ('../partials/header') %>    
           
    <main class="register">
        <section class="conteiner-users">
            <h3>Registrate</h3>
            <form class="form-login" action="/register" method="post">
                
               
                <input type="text" name="name" placeholder="Nombre y Apellidos" required>
                <input type="email" name="email" placeholder="Correo electrónico" required>
                <input type="password" name="psw" placeholder="Contraseña" required>
                <input type="password" name="confirm-psw" placeholder="Confirmar contraseña" required>
                <input type="date" name="birth_date" id="birth_date">

                <button type="submit" class="enviar">Registrarme</button>
                
                <div class="recuerdame">
                <input type="checkbox" checked="checked" name="terminos-y-condiciones" id="terminos-y-condiciones" value="terminos-y-condiciones">
                <label for="terminos-y-condiciones">Al crear una cuenta, acepta nuestros <a href="#">Terminos & Condiciones</a></label>
                </div>
                
                <button type="reset" class="borrar">Borrar</button>

                <p><a href="./login">Ya tengo una cuenta en HiBox</a></p>
            </form>
        </section>
    </main>

    <!-- Inclución de Header -->
    <%- include ('../partials/footer') %>   

</body>
</html>